name: CI

on: [push]

jobs:
  ci:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-versions: [ '8.2', '8.3', '8.4', '8.5' ]

    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
      - uses: ramsey/composer-install@v3
        with:
          composer-options: "--ignore-platform-reqs --optimize-autoloader"
          working-directory: "./"
      - name: "PHP_CodeSniffer"
        working-directory: "./"
        run: composer test:phpcs:summary
      - name: "PHPStan"
        working-directory: "./"
        run: composer test:phpstan
      - name: "PHPUnit"
        working-directory: "./"
        run: composer test:phpunit
      - name: "PHPUnit Coverage"
        working-directory: "./"
        run: composer test:phpunit:coverage
      - name: "Examples"
        working-directory: "./"
        run: composer examples
